<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TU Online Judge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
	<div class="navbar-header">
    <a class="navbar-brand" rel="home" href="/" title="Python Programming Tutorials ">
        <img style="max-width:120px; margin-top: -7px; height: 44px" src="{{ url_for('static', filename='images/tu_logo.png') }}">
    </a>
  </div>

  <div class="container-fluid">
	<ul class="nav nav-pills">
		<a href="/dashboard/"><button type="button" class="btn btn-primary" style=" margin-top: 5px; margin-bottom: 5px; height:44px; margin-right: 15px">
			<span class="glyphicon glyphicon-off"></span> Start Coding
		</button></a>
      <ul class="nav navbar-nav navbar-right">
	  {% if session.logged_in %}
		<div style="margin-right: 10px; margin-left: 15px;  margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
		<a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></h5>
		</div>
	  {% else %}
	  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
		<a href="/login/"> <span class="glyphicon glyphicon-log-in"></span> Login</a>&nbsp;&nbsp;&nbsp;
		<a href="/register/" ><span class="glyphicon glyphicon-pencil"></span> Sign up</a></h5>
	  </div>
	  {% endif %}
      </ul>
	</ul>
  </div>
</header>

<body>

<body>
	<div class="border-row" style="width:100%; margin-bottom: 15px;"> </div>
	<!-- Flashed messages and actual body content -->
	<div class="container-fluid" style="min-height:100%; margin-bottom: 100px;">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
			
			{% if "type" in message %}
				  <div class="alert alert-{{message[1]}} alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  {{ message[2] }}
				  </div>
			
			{% else %}
			
				  <div class="alert alert-warning alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  {{ message }}
				  </div>
			{% endif %}
				</div>
			</div>
			
			{% endfor %}
		  {% endif %}
		{% endwith %}
		

		<!-- specific page content below -->
		{% block body %}{% endblock %}
		
	</div>


	<script src="//code.jquery.com/jquery-1.11.1.min.js">	
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
	</script>

</body>

</html>