{% extends 'index.html' %}

{% block content %}
    <div class="">
        <div class="row profile">
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="padding-left: 30px">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{ url_for('static', filename = 'Spoj.jpg') }}"  height="202" width="202">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name" style="font-size: 25px; padding-top: 10px;">{{ profile['first_name'] }} {{ profile['last_name'] }}</div>
                        <div class="profile-usertitle-user_name" style="font-size: 20px; padding-bottom: 5px">@{{ profile['user_name'] }}</div>
                        <div style="font-size: 20px; padding-bottom: 10px">{{ profile['roll_no'] }}</div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <div class="profile-usermenu">
                        <a href="{{ url_for('manage_profile', name = profile['user_name']) }}" style="padding-left: 5px; font-size: 15px"><i class="glyphicon glyphicon-flag"></i>Manage Account</a>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-8">
                <form action="{{url_for('manage_profile', name = profile['user_name'])}}" method="POST">
                    <div class="form-group">
                      <label for="id">Roll No.</label>
                      <input type="integer" class="form-control" name="roll_no" value="{{ profile['roll_no'] }}">
                    </div>
                    <div class="form-group">
                      <label for="problem_name">First Name</label>
                      <input type="text" class="form-control" name="first_name" value="{{ profile['first_name'] }}">
                    </div>
                    <div class="form-group">
                      <label for="difficulty">Last Name</label>
                      <input type="text" class="form-control" name="last_name" value="{{ profile['last_name'] }}">
                    </div>
                    <div class="form-group">
                      <label for="content">College</label>
                      <input type="text" class="form-control" name="college" value="{{ profile['college'] }}">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}