{% extends 'index.html' %}

{% block content %}
    <div class="container col-xs-3 col-md-3 col-sm-3 col-lg-3" style="margin-bottom: 25px">
        <span style="font-size: 26px; font-family: 'Sanchez', serif; text-align: left">Submission History</span>
    </div>
    <div class="" style="padding: 13px">
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Id</th>
            <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Problem Name</th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Language Used</th>
            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Status</th>
            <th>Date </th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
          <tr>
            <td>{{ submission['submission_no'] }}</td>
            <td><a href="{{ url_for('problem', name = submission['problem_name']) }}">{{ submission['problem_name'] }}</a></td>
            <td><a href="{{ url_for('submission', user_name = user, id = submission['submission_no']) }}">{{
             submission['language_used'] }}</a></td>
            <td>{{ submission['status'] }}</td>
            <td>{{ submission['submission_time'].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}